<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Max Smith portfolio</title> <!--Name of the "Tab"-->
        <link rel="stylesheet" href="../css/stylesheet.css"> <!--Links Index.html to the CSS (Cascading style sheet) file rather than hard-coding-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@800&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>

    </head>
    <body>
        <div class="header">
            <a id=top></a>
            <h1 class="header">Max Smith's Portfolio</h1>
        </div>
        <ul class="navBarMain">
            <li><a class=navBar href="../index.html">Home</a></li>
            <li><a class=navBar href="/components/AboutMe.html">About me</a></li>
            <li><a class=navBar href="/components/ProfDev.html">Prof. Development</a></li>
            <li><a class=navBar href="/components/MLH.html">MLH</a></li>
        </ul>
        <div class="row">
            <div class="column left MLHLeft">
                    <h2 style="text-align: center; margin: 4px;">Major League Hacking</h2>
                    <p> MLH was a computing event which occured during october; allowing for anyone interested in the subject to join courses to learn more about specific areas.</p>
                    <p> Some of these subject areas included:</p>
                    <ul>
                        <li>Programming</li>
                        <li style="margin-left:2em">Python</li><li style="margin-left:2em">Java</li>
                        <li>Conceptual areas</li>
                        <li style="margin-left:2em">Blockchain</li>
                        <li style="margin-left:2em">Cloud Computing </li>
                        <li>Website development</li>
                        <li>How to use industry-standard software</li>
                        <li style="margin-left:2em">GitBash</li>
                    </ul>
                    <img class="mobileImg mobileImg1" src="../img/MLHWeb.png" alt="MLH Web Poster"><img class="mobileImg" src="../img/MLHBlockChain.png" alt="MLH Blockchain poster">
                </div>
            <div class="column middle MLHMiddle">
                <h2 style="text-align: center; margin: 4px">Best event</h2>
                <p>During the course of the week, I had to do a large amount of activities. My favourite course out of the six was probably working with AWS.</p>
                <p>The use of cloud computing is something that I have been curious about for a long time. In the case of making a website with it, I could see that AWS could be incredibly useful in the future. I hope to use it in conjunction with my discord bot to keep it hosted</p>
                <p>In addition to learning about AWS, I also learnt more about how to use FLASK, a python framework (which I had used in an old project of mine), and also integration of MySQL with AWS</p>
                <p>We were given a github repo and the resources required to make the website, and they taught us along the way. For instance, how to make an IAM account on AWS, as well as explaining all of the code they had used </p>
            </div>
            <div class="column right MLHRight">
                <p>During the week, I obtained 12.5 hours in MLH. Teaching me new skills in a variety of subjects   </p>
                <table class="cpdTable mlhTable">
                    <tr>
                        <th>Event</th>
                        <th>Explanation</th>
                        <th>Hours completed</th>
                    </tr>
                    <tr>
                        <td>Python 1 introduction</td>
                        <td>Gave a basic introduction to python, to try and master the basics</td>
                        <td>2 hours</td>
                    </tr>
                    <tr>
                        <td>Build actions for Google Assistant</td>
                        <td>Taught me to be able to use my google home</td>
                        <td>2 hours</td>
                    </tr>
                    <tr>
                        <td>Let's build a blockchain Casino</td>
                        <td>Introduced the idea of blockchain and how it can be used in the future</td>
                        <td>1.5 hours</td>
                    </tr>
                    <tr>
                        <td>Full Stack Web App</td>
                        <td>Taught the use of AWS, specifically Elastic beanstalk and how to use FLASK, a python framework</td>
                        <td>1.5 hours</td>
                    </tr>
                    <tr>
                        <td>Build Alexa Skills: Foundation</td>
                        <td>Taught me how I could program an Alexa with my own functions</td>
                        <td>1.5 hours</td>
                    </tr>
                    <tr>    
                        <td>Git Hack</td>
                        <td>How to use Github, working collaboratively, version control, working with repositories</td>
                        <td>4 hours</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <footer>
            <div class="footerRow">
                <div class="footColumn">
                    <ul class=footNav>        
                        <li><a class="footNav links" href="/index.html">Home</a></li>
                        <li><a class="footNav links" href="/components/AboutMe.html">About me</a></li>
                        <li><a class="footNav links" href="/components/ProfDev.html">Prof. Dev.</a></li>
                        <li><a class="footNav links" href="/components/MLH.html">MLH</a></li>
                    </ul>
                </div>
                <div class="footColumn">
                    <a class="socials" href="https://www.instagram.com/maximus_millian/" target="_blank"><img src="/img/Instagram.png" alt="Instagram" style=width:50px;height:50px;></a>
                        <a class="socials" href="https://twitter.com/MSmth19" target="_blank"><img src="/img/Twitter.png" alt="Twitter" style=width:50px;height:50px;></a>
                        <a class="socials" href="https://www.linkedin.com/in/max-smith-57673a198/" target="_blank"><img src="/img/LinkedIn.png" alt="LinkedIn" style=width:50px;height:50px;><br></a>
                        <a href="#top">Return to top</a>

                </div>
                <div class="footColumn">
                    <a class="links" href="https://github.com/MaxSmith19">My github repository<br></a>

                </div>
            </div>
        </footer>
    </body>
</html>