<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Max Smith portfolio</title> <!--Name of the "Tab"-->
        <link rel="stylesheet" href="../css/stylesheet.css"> <!--Links Index.html to the CSS (Cascading style sheet) file rather than hard-coding-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@800&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>

    </head>
    <body>
        <div class="header">
            <a id=top></a>
            <h1 class="header">Max Smith's Portfolio</h1>
        </div>
        <ul class="navBarMain">
            <li><a class=navBar href="../index.html">Home</a></li>
            <li><a class=navBar href="/components/AboutMe.html">About me</a></li>
            <li><a class=navBar href="/components/ProfDev.html">Prof. Development</a></li>
            <li><a class=navBar href="/components/MLH.html">MLH</a></li>
        </ul>
        <div class="row">
                <div class="column left smallerText">
                    <h2>Developers Society (DevSoc)</h2>
                    <p>Currently, the only society I have joined this year is the developers society. <br><br>Allowing for anyone interested in development to get help on their code or participate in events related to programming or computing</p>
                    <p>I joined at the beginning of october and was lucky to participate in their cryptography challenge, In which DevSoc's website was "hacked" by a group of people. My job was to find out who did it by deciphering hidden codes For instance, the below code translates to <strong>Pass3{all0wed1n}</strong> using the queens cipher </p>
                    <img class="cipher mobileImg" src="../img/devSoc.PNG" alt="devSoc Instagram" style="height: 140px;"><img class="cipher mobileImg" src="../img/QueenCipher.jpg" alt="Queen's cipher, Devsoc">
                </div>
            <div class="column middle profMid">
                <div class="upper profDevUp">
                    <h3>CERT Mentor support</h3>
                    <p>A CERT mentor is in the second or third year of my course and provides us with support sessions which allow us to convey our concerns or ask questions about the content or assignments</p>
                </div>
                <div class="lower profDevLo smallerText">
                    <h3>LinkedIn Courses<a class="linkedIn" href="https://www.linkedin.com/learning" target="_blank"><img class="linkedIn" src="/img/LinkedIn.png" alt="Linked in" style="width: 100px;height: 100px;float: right;margin:8px;"></a></h3>
                    <p class="noMargin">LinkedIn has an incredible amount of courses which allowed me to extend my knowledge in programming. <br><br>Including Mobile applications development; where I have started to learn about how to use android studio.<br><br> Website development; where I have learnt about more complex html/css skills</p>
                    
                </div>
            </div>
            <div class="column right profRight">
                <h3 style="text-align: center;">My CpD Hours</h3>
                <p class=aboveTable>During the course of CPD, I did around 30.5 hours. Below are the hours that I currently have for professional development:</p>
                <table class=cpdTable> 
                    <tr>
                        <th>Event</th>
                        <th>Explanation</th>
                        <th>Hours completed</th>
                    </tr>
                    <tr>
                        <td>Devsoc event</td>
                        <td>Participating in their cryptography challenge</td>
                        <td>10 hours</td>
                    </tr>
                    <tr>
                        <td><a class="links" href="MLH.html"> MLH Events</a></td>
                        <td>BlockChain casino, Build actions for google assistant, Githacking, Python introduction, Learn day</td>
                        <td>12.5 individual hours</td>
                    </tr>
                    <tr>
                        <td>CERT Sessions</td>
                        <td>Asking questions about the course to CERT mentors</td>
                        <td>4 hours</td>
                    </tr>
                    <tr>
                        <td>Linkedin Courses</td>
                        <td>Watching app development and web development course</td>
                        <td>4 hours</td>
                    </tr>
                </table>
                <p class="lose" style="text-align: center;"> To see more details about MLH and the courses I did specifically, click <a class="links" href="MLH.html">here</a> </p>
                </div>
        </div>
        <hr>
        <footer>
            <div class="footerRow">
                <div class="footColumn">
                    <ul class=footNav>        
                        <li><a class="footNav links" href="/index.html">Home</a></li>
                        <li><a class="footNav links" href="/components/AboutMe.html">About me</a></li>
                        <li><a class="footNav links" href="/components/ProfDev.html">Prof. Dev.</a></li>
                        <li><a class="footNav links" href="/components/MLH.html">MLH</a></li>
                    </ul>
                </div>
                <div class="footColumn">
                    <a class="socials" href="https://www.instagram.com/maximus_millian/" target="_blank"><img src="/img/Instagram.png" alt="Instagram" style=width:50px;height:50px;></a>
                        <a class="socials" href="https://twitter.com/MSmth19" target="_blank"><img src="/img/Twitter.png" alt="Twitter" style=width:50px;height:50px;></a>
                        <a class="socials" href="https://www.linkedin.com/in/max-smith-57673a198/" target="_blank"><img src="/img/LinkedIn.png" alt="LinkedIn" style=width:50px;height:50px;><br></a>
                        <a href="#top">Return to top</a>

                </div>
                <div class="biggerFont footColumn">
                    <a class="links" href="https://github.com/MaxSmith19" style="text-decoration: none;">My github repository<br></a>

                </div>
            </div>
        </footer>
    </body>
</html>